

 *{ 
    margin: 0px;
    padding: 0px;
    } 

    main {
        flex: 1; 
    }

    #carouselExampleIndicators img {
        width: 100%; 
        height: calc(100vh - 56px - 50px);
         object-fit: cover; 
  }

    body {
        display: flex; 
        background-color: #fff1e5;
        flex-direction: column;
        padding-top: 56px; 
        min-height: 100vh;  
      }

     
      
.subheader1 {
    margin-top: 20px; 
    margin-bottom: 20px;
    color:black; 
    font-size: 20; 
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-align: center;


}

.subheader2 {
    color:black; 
    font-size: 15; 
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paragraph1 {
    color:black;
    font-size: 15; 
    font-family: 'calibri', sans-serif;
    text-align: justify; 
    margin-bottom: 30px;

}

.container  {
    width: 80%;
    margin:auto;
    margin-top: 50px;
    background-color: #fff1e5;
 }

 .button {
    background-color: #ecded0;
    box-align: center; /* button not aligning to the right*/
    font-family: 'Raleway', sans-serif;
    color: grey;
    margin-top: 30px;
    padding: 15px 15px;
    border-radius: 12%;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
.button:hover {
    background: #222;
    color: #fff; 

}

.about-title {text-align: center;
  font-size: 75pt;
  letter-spacing: 4px;
  font-family: 'Playfair Display', serif;
}

#meet-the-team img{
    width: 100%;  
    margin: 15px 0;
  }

  * {
    box-sizing: border-box;
  }
  
  .col-sm-6 img{ width:200px
  }
  
  .creators {
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 4px;
  }

  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 80%;
    margin:auto;
    margin-top: 50px;
    padding: 10px;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .copyright {
    color: black;
    font-size: 12;
    font-weight: bold;
  }

footer {
    display: flex;  
    justify-content: center;  
    background-color: #fff1e5;
    height: 100px;
    padding: 20px;
  }
  
  footer a {
    margin: 5px;
    text-decoration: none!important;
  }
  
  .social-icon {
    display: inline-flex;  
    width: 50px;
    height: 50px;
    color: #666;
    background-color: white;
    justify-content: center;  
    align-items: center;  
    border-radius: 50%;  
  }
  
  .social-icon:hover {
    color: #222;  
  }
  
  #go-top-button {
    color: white;
    position: fixed;  
    bottom: 20px;  
    right: 30px;  
    z-index: 99;  
    border-radius: 50%; 
    background-color: black;

  }
  
  .fa {
    color: white;
  }

/* Profile page formating */

.subheader22 {
  text-align: center;
  font-size: 75pt;
  letter-spacing: 4px;
  font-family: 'Playfair Display', serif;
}

#asmakhan-tab {color: black;
  }

.content {display: flex;
text-align: left;
margin: 5% auto;
justify-content: center;}

.content-left img {width: 300px;
}

.content-left {
flex-basis: 40%;
 }

.content-right {flex-basis: 40%
}

#nigella-tab {color:black}

.content1 {display: flex;
  text-align: left;
  margin: 5% auto;
  justify-content: center;}

  .content-left1 img {width: 300px;
  }
  
  .content-left1 {
  flex-basis: 40%;
   }
  
  .content-right1 {flex-basis: 40%
  }

  #anna-tab {color:black}

 .content2 {display: flex;
    text-align: left;
    margin: 5% auto;
    justify-content: center;}

    .content-left2 img {width: 300px;
    }
    
    .content-left2 {
    flex-basis: 40%;
     }
    
    .content-right2 {flex-basis: 40%
    }

#siri-tab {color:black}

 .content3 {display: flex;
      text-align: left;
      margin: 5% auto;
      justify-content: center;}

   .content-left3 img {width: 300px;
    }
      
   .content-left3 {
      flex-basis: 40%;
    }
      
   .content-right3 {flex-basis: 40%
      }

 #olia-tab {color:black}

 .content4 {display: flex;
    text-align: left;
    margin: 5% auto;
    justify-content: center;}
  
  .content-left4 img {width: 300px;
   }
        
  .content-left4 {
    flex-basis: 40%;
    }
        
  .content-right4 {flex-basis: 40%
    }

  #sikke-tab {color:black}

  .content5 {display: flex;
    text-align: left;
    margin: 5% auto;
    justify-content: center;}
    
  .content-left5 img {width: 300px;
    }
          
  .content-left5 {
    flex-basis: 40%;
    }
          
  .content-right5 {flex-basis: 40%
  }
  
  #yewande-tab {color:black}

  .content6 {display: flex;
    text-align: left;
    margin: 5% auto;
    justify-content: center;}
    
  .content-left6 img {width: 300px;
    }
          
  .content-left6 {
    flex-basis: 40%;
    }
          
  .content-right6 {flex-basis: 40%
  }